In [1]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def getCategoricalValues(df):
    cat_columns = df.select_dtypes(include=['object']).columns.tolist()
    cat_columns.sort()
    print(f"Columns with categorical values {len(cat_columns)} --> {cat_columns}")
    for col in cat_columns:
        count_values = df[col].unique().shape[0]
        print(f"{col:27} : [{count_values:2}] --> {sorted((df[col].unique().tolist())) if np.NaN not in df[col].unique().tolist() else (df[col].unique().tolist())}")

In [9]:
def getNumCategoricalValues(df, ncat_columns):
    ncat_columns.sort()
    print(f"Columns with categorical values {len(ncat_columns)}")
    for col in ncat_columns:
        count_values = df[col].unique().shape[0]
        if count_values > 30:
            print(f"{col:26} : [{count_values:4}] --> {sorted(df[col].unique().tolist()[:10])}...{sorted(df[col].unique().tolist()[-10:])}") 
        else:
            print(f"{col:26} : [{count_values:4}] --> {sorted(df[col].unique().tolist())}")

## Data Exploration

### Data Reading & Data Types

In [5]:
#Read the data in pandas
prev_app_df = pd.read_csv("data/previous_application.csv")
curr_app_df = pd.read_csv("data/application_data.csv")

In [6]:
prev_app_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int64
 1   SK_ID_CURR                   1670214 non-null  int64
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float64
 4   AMT_APPLICATION              1670214 non-null  float64
 5   AMT_CREDIT                   1670213 non-null  float64
 6   AMT_DOWN_PAYMENT             774370 non-null   float64
 7   AMT_GOODS_PRICE              1284699 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int64
 12  RATE_DOWN_PAYMENT            774370 non-null   float64
 13  RATE_INTEREST_PRIMARY        5951 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int64
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int64
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float64
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float64
 32  DAYS_FIRST_DUE               997149 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float64
 34  DAYS_LAST_DUE                997149 non-null   float64
 35  DAYS_TERMINATION             997149 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB

In [36]:
PA_COLUMNS = prev_app_df.columns.tolist()
PA_ID_COLUMNS = ['SK_ID_PREV','SK_ID_CURR']
PA_NCAT_COLUMNS = ['NFLAG_INSURED_ON_APPROVAL', 'NFLAG_LAST_APPL_IN_DAY', 'SELLERPLACE_AREA', 'HOUR_APPR_PROCESS_START']
print(len(max(PA_COLUMNS)))
getNumCategoricalValues(prev_app_df, PA_NCAT_COLUMNS)

26
Columns with categorical values 4
HOUR_APPR_PROCESS_START    : [  24] --> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
NFLAG_INSURED_ON_APPROVAL  : [   3] --> [0.0, 1.0, nan]
NFLAG_LAST_APPL_IN_DAY     : [   2] --> [0, 1]
SELLERPLACE_AREA           : [2097] --> [-1, 6, 20, 35, 50, 61, 83, 130, 136, 200]...[887, 1164, 1419, 1948, 2054, 2164, 2233, 2420, 3420, 6989]

In [11]:
getCategoricalValues(prev_app_df)

Columns with categorical values 16 --> ['CHANNEL_TYPE', 'CODE_REJECT_REASON', 'FLAG_LAST_APPL_PER_CONTRACT', 'NAME_CASH_LOAN_PURPOSE', 'NAME_CLIENT_TYPE', 'NAME_CONTRACT_STATUS', 'NAME_CONTRACT_TYPE', 'NAME_GOODS_CATEGORY', 'NAME_PAYMENT_TYPE', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE', 'NAME_SELLER_INDUSTRY', 'NAME_TYPE_SUITE', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION', 'WEEKDAY_APPR_PROCESS_START']
CHANNEL_TYPE                : [ 8] --> ['AP+ (Cash loan)', 'Car dealer', 'Channel of corporate sales', 'Contact center', 'Country-wide', 'Credit and cash offices', 'Regional / Local', 'Stone']
CODE_REJECT_REASON          : [ 9] --> ['CLIENT', 'HC', 'LIMIT', 'SCO', 'SCOFR', 'SYSTEM', 'VERIF', 'XAP', 'XNA']
FLAG_LAST_APPL_PER_CONTRACT : [ 2] --> ['N', 'Y']
NAME_CASH_LOAN_PURPOSE      : [25] --> ['Building a house or an annex', 'Business development', 'Buying a garage', 'Buying a holiday home / land', 'Buying a home', 'Buying a new car', 'Buying a used car', 'Car repairs', 'Education', 'Everyday expenses', 'Furniture', 'Gasification / water supply', 'Hobby', 'Journey', 'Medicine', 'Money for a third person', 'Other', 'Payments on other loans', 'Purchase of electronic equipment', 'Refusal to name the goal', 'Repairs', 'Urgent needs', 'Wedding / gift / holiday', 'XAP', 'XNA']
NAME_CLIENT_TYPE            : [ 4] --> ['New', 'Refreshed', 'Repeater', 'XNA']
NAME_CONTRACT_STATUS        : [ 4] --> ['Approved', 'Canceled', 'Refused', 'Unused offer']
NAME_CONTRACT_TYPE          : [ 4] --> ['Cash loans', 'Consumer loans', 'Revolving loans', 'XNA']
NAME_GOODS_CATEGORY         : [28] --> ['Additional Service', 'Animals', 'Audio/Video', 'Auto Accessories', 'Clothing and Accessories', 'Computers', 'Construction Materials', 'Consumer Electronics', 'Direct Sales', 'Education', 'Fitness', 'Furniture', 'Gardening', 'Homewares', 'House Construction', 'Insurance', 'Jewelry', 'Medical Supplies', 'Medicine', 'Mobile', 'Office Appliances', 'Other', 'Photo / Cinema Equipment', 'Sport and Leisure', 'Tourism', 'Vehicles', 'Weapon', 'XNA']
NAME_PAYMENT_TYPE           : [ 4] --> ['Cash through the bank', 'Cashless from the account of the employer', 'Non-cash from your account', 'XNA']
NAME_PORTFOLIO              : [ 5] --> ['Cards', 'Cars', 'Cash', 'POS', 'XNA']
NAME_PRODUCT_TYPE           : [ 3] --> ['XNA', 'walk-in', 'x-sell']
NAME_SELLER_INDUSTRY        : [11] --> ['Auto technology', 'Clothing', 'Connectivity', 'Construction', 'Consumer electronics', 'Furniture', 'Industry', 'Jewelry', 'MLM partners', 'Tourism', 'XNA']
NAME_TYPE_SUITE             : [ 8] --> [nan, 'Unaccompanied', 'Spouse, partner', 'Family', 'Children', 'Other_B', 'Other_A', 'Group of people']
NAME_YIELD_GROUP            : [ 5] --> ['XNA', 'high', 'low_action', 'low_normal', 'middle']
PRODUCT_COMBINATION         : [18] --> ['POS mobile with interest', 'Cash X-Sell: low', 'Cash X-Sell: high', 'Cash X-Sell: middle', 'Cash Street: high', 'Cash', 'POS household without interest', 'POS household with interest', 'POS other with interest', 'Card X-Sell', 'POS mobile without interest', 'Card Street', 'POS industry with interest', 'Cash Street: low', 'POS industry without interest', 'Cash Street: middle', 'POS others without interest', nan]
WEEKDAY_APPR_PROCESS_START  : [ 7] --> ['FRIDAY', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'WEDNESDAY']

In [16]:
prev_app_df[prev_app_df.columns.difference(PA_ID_COLUMNS + PA_NCAT_COLUMNS)].describe()

,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,CNT_PAYMENT,DAYS_DECISION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_TERMINATION,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED
count,1.297979e+06,1.670214e+06,1.670213e+06,7.743700e+05,1.284699e+06,1.297984e+06,1.670214e+06,997149.000000,997149.000000,997149.000000,997149.000000,997149.000000,774370.000000,5951.000000,5951.000000
mean,1.595512e+04,1.752339e+05,1.961140e+05,6.697402e+03,2.278473e+05,1.605408e+01,-8.806797e+02,342209.855039,13826.269337,76582.403064,33767.774054,81992.343838,0.079637,0.188357,0.773503
std,1.478214e+04,2.927798e+05,3.185746e+05,2.092150e+04,3.153966e+05,1.456729e+01,7.790997e+02,88916.115833,72444.869708,149647.415123,106857.034789,153303.516729,0.107823,0.087671,0.100879
min,0.000000e+00,0.000000e+00,0.000000e+00,-9.000000e-01,0.000000e+00,0.000000e+00,-2.922000e+03,-2922.000000,-2892.000000,-2889.000000,-2801.000000,-2874.000000,-0.000015,0.034781,0.373150
25%,6.321780e+03,1.872000e+04,2.416050e+04,0.000000e+00,5.084100e+04,6.000000e+00,-1.300000e+03,365243.000000,-1628.000000,-1314.000000,-1242.000000,-1270.000000,0.000000,0.160716,0.715645
50%,1.125000e+04,7.104600e+04,8.054100e+04,1.638000e+03,1.123200e+05,1.200000e+01,-5.810000e+02,365243.000000,-831.000000,-537.000000,-361.000000,-499.000000,0.051605,0.189122,0.835095
75%,2.065842e+04,1.803600e+05,2.164185e+05,7.740000e+03,2.340000e+05,2.400000e+01,-2.800000e+02,365243.000000,-411.000000,-74.000000,129.000000,-44.000000,0.108909,0.193330,0.852537
max,4.180581e+05,6.905160e+06,6.905160e+06,3.060045e+06,6.905160e+06,8.400000e+01,-1.000000e+00,365243.000000,365243.000000,365243.000000,365243.000000,365243.000000,1.000000,1.000000,1.000000

In [17]:
prev_app_df.loc[prev_app_df['NAME_PRODUCT_TYPE']!='x-sell'][['NAME_PRODUCT_TYPE','NAME_SELLER_INDUSTRY']]

        NAME_PRODUCT_TYPE  NAME_SELLER_INDUSTRY
0                     XNA          Connectivity
4                 walk-in                   XNA
6                     XNA                   XNA
7                     XNA                   XNA
8                     XNA                   XNA
...                   ...                   ...
1670206           walk-in                   XNA
1670207           walk-in                   XNA
1670209               XNA             Furniture
1670210               XNA             Furniture
1670211               XNA  Consumer electronics

[1213927 rows x 2 columns]

In [18]:
prev_app_df[['NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE','RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY', 'RATE_INTEREST_PRIVILEGED', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION']]

,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_YIELD_GROUP,PRODUCT_COMBINATION
0,POS,XNA,0.000000,0.182832,0.867336,middle,POS mobile with interest
1,Cash,x-sell,NaN,NaN,NaN,low_action,Cash X-Sell: low
2,Cash,x-sell,NaN,NaN,NaN,high,Cash X-Sell: high
3,Cash,x-sell,NaN,NaN,NaN,middle,Cash X-Sell: middle
4,Cash,walk-in,NaN,NaN,NaN,high,Cash Street: high
...,...,...,...,...,...,...,...
1670209,POS,XNA,0.000000,NaN,NaN,low_normal,POS industry with interest
1670210,POS,XNA,0.340554,NaN,NaN,middle,POS industry with interest
1670211,POS,XNA,0.101401,NaN,NaN,low_normal,POS household with interest
1670212,Cash,x-sell,NaN,NaN,NaN,low_normal,Cash X-Sell: low
1670213,Cash,x-sell,NaN,NaN,NaN,middle,Cash X-Sell: middle

- Understand domain, each column
- Column Vs Missing values

There could be multiple applications from the same customer
Amounts -> Can they be rounded off?
Goods Vs Amount loan

## Application Data

In [19]:
curr_app_df = pd.read_csv("data/application_data.csv")

In [35]:
curr_app_df.iloc[:,:58].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 58 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   SK_ID_CURR                   307511 non-null  int64
 1   TARGET                       307511 non-null  int64
 2   NAME_CONTRACT_TYPE           307511 non-null  object
 3   CODE_GENDER                  307511 non-null  object
 4   FLAG_OWN_CAR                 307511 non-null  object
 5   FLAG_OWN_REALTY              307511 non-null  object
 6   CNT_CHILDREN                 307511 non-null  int64
 7   AMT_INCOME_TOTAL             307511 non-null  float64
 8   AMT_CREDIT                   307511 non-null  float64
 9   AMT_ANNUITY                  307499 non-null  float64
 10  AMT_GOODS_PRICE              307233 non-null  float64
 11  NAME_TYPE_SUITE              306219 non-null  object
 12  NAME_INCOME_TYPE             307511 non-null  object
 13  NAME_EDUCATION_TYPE          307511 non-null  object
 14  NAME_FAMILY_STATUS           307511 non-null  object
 15  NAME_HOUSING_TYPE            307511 non-null  object
 16  REGION_POPULATION_RELATIVE   307511 non-null  float64
 17  DAYS_BIRTH                   307511 non-null  int64
 18  DAYS_EMPLOYED                307511 non-null  int64
 19  DAYS_REGISTRATION            307511 non-null  float64
 20  DAYS_ID_PUBLISH              307511 non-null  int64
 21  OWN_CAR_AGE                  104582 non-null  float64
 22  FLAG_MOBIL                   307511 non-null  int64
 23  FLAG_EMP_PHONE               307511 non-null  int64
 24  FLAG_WORK_PHONE              307511 non-null  int64
 25  FLAG_CONT_MOBILE             307511 non-null  int64
 26  FLAG_PHONE                   307511 non-null  int64
 27  FLAG_EMAIL                   307511 non-null  int64
 28  OCCUPATION_TYPE              211120 non-null  object
 29  CNT_FAM_MEMBERS              307509 non-null  float64
 30  REGION_RATING_CLIENT         307511 non-null  int64
 31  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 32  WEEKDAY_APPR_PROCESS_START   307511 non-null  object
 33  HOUR_APPR_PROCESS_START      307511 non-null  int64
 34  REG_REGION_NOT_LIVE_REGION   307511 non-null  int64
 35  REG_REGION_NOT_WORK_REGION   307511 non-null  int64
 36  LIVE_REGION_NOT_WORK_REGION  307511 non-null  int64
 37  REG_CITY_NOT_LIVE_CITY       307511 non-null  int64
 38  REG_CITY_NOT_WORK_CITY       307511 non-null  int64
 39  LIVE_CITY_NOT_WORK_CITY      307511 non-null  int64
 40  ORGANIZATION_TYPE            307511 non-null  object
 41  EXT_SOURCE_1                 134133 non-null  float64
 42  EXT_SOURCE_2                 306851 non-null  float64
 43  EXT_SOURCE_3                 246546 non-null  float64
 44  APARTMENTS_AVG               151450 non-null  float64
 45  BASEMENTAREA_AVG             127568 non-null  float64
 46  YEARS_BEGINEXPLUATATION_AVG  157504 non-null  float64
 47  YEARS_BUILD_AVG              103023 non-null  float64
 48  COMMONAREA_AVG               92646 non-null   float64
 49  ELEVATORS_AVG                143620 non-null  float64
 50  ENTRANCES_AVG                152683 non-null  float64
 51  FLOORSMAX_AVG                154491 non-null  float64
 52  FLOORSMIN_AVG                98869 non-null   float64
 53  LANDAREA_AVG                 124921 non-null  float64
 54  LIVINGAPARTMENTS_AVG         97312 non-null   float64
 55  LIVINGAREA_AVG               153161 non-null  float64
 56  NONLIVINGAPARTMENTS_AVG      93997 non-null   float64
 57  NONLIVINGAREA_AVG            137829 non-null  float64
dtypes: float64(25), int64(21), object(12)
memory usage: 136.1+ MB

In [33]:
curr_app_df.iloc[:,58:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 64 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   APARTMENTS_MODE               151450 non-null  float64
 1   BASEMENTAREA_MODE             127568 non-null  float64
 2   YEARS_BEGINEXPLUATATION_MODE  157504 non-null  float64
 3   YEARS_BUILD_MODE              103023 non-null  float64
 4   COMMONAREA_MODE               92646 non-null   float64
 5   ELEVATORS_MODE                143620 non-null  float64
 6   ENTRANCES_MODE                152683 non-null  float64
 7   FLOORSMAX_MODE                154491 non-null  float64
 8   FLOORSMIN_MODE                98869 non-null   float64
 9   LANDAREA_MODE                 124921 non-null  float64
 10  LIVINGAPARTMENTS_MODE         97312 non-null   float64
 11  LIVINGAREA_MODE               153161 non-null  float64
 12  NONLIVINGAPARTMENTS_MODE      93997 non-null   float64
 13  NONLIVINGAREA_MODE            137829 non-null  float64
 14  APARTMENTS_MEDI               151450 non-null  float64
 15  BASEMENTAREA_MEDI             127568 non-null  float64
 16  YEARS_BEGINEXPLUATATION_MEDI  157504 non-null  float64
 17  YEARS_BUILD_MEDI              103023 non-null  float64
 18  COMMONAREA_MEDI               92646 non-null   float64
 19  ELEVATORS_MEDI                143620 non-null  float64
 20  ENTRANCES_MEDI                152683 non-null  float64
 21  FLOORSMAX_MEDI                154491 non-null  float64
 22  FLOORSMIN_MEDI                98869 non-null   float64
 23  LANDAREA_MEDI                 124921 non-null  float64
 24  LIVINGAPARTMENTS_MEDI         97312 non-null   float64
 25  LIVINGAREA_MEDI               153161 non-null  float64
 26  NONLIVINGAPARTMENTS_MEDI      93997 non-null   float64
 27  NONLIVINGAREA_MEDI            137829 non-null  float64
 28  FONDKAPREMONT_MODE            97216 non-null   object
 29  HOUSETYPE_MODE                153214 non-null  object
 30  TOTALAREA_MODE                159080 non-null  float64
 31  WALLSMATERIAL_MODE            151170 non-null  object
 32  EMERGENCYSTATE_MODE           161756 non-null  object
 33  OBS_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 34  DEF_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 35  OBS_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 36  DEF_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 37  DAYS_LAST_PHONE_CHANGE        307510 non-null  float64
 38  FLAG_DOCUMENT_2               307511 non-null  int64
 39  FLAG_DOCUMENT_3               307511 non-null  int64
 40  FLAG_DOCUMENT_4               307511 non-null  int64
 41  FLAG_DOCUMENT_5               307511 non-null  int64
 42  FLAG_DOCUMENT_6               307511 non-null  int64
 43  FLAG_DOCUMENT_7               307511 non-null  int64
 44  FLAG_DOCUMENT_8               307511 non-null  int64
 45  FLAG_DOCUMENT_9               307511 non-null  int64
 46  FLAG_DOCUMENT_10              307511 non-null  int64
 47  FLAG_DOCUMENT_11              307511 non-null  int64
 48  FLAG_DOCUMENT_12              307511 non-null  int64
 49  FLAG_DOCUMENT_13              307511 non-null  int64
 50  FLAG_DOCUMENT_14              307511 non-null  int64
 51  FLAG_DOCUMENT_15              307511 non-null  int64
 52  FLAG_DOCUMENT_16              307511 non-null  int64
 53  FLAG_DOCUMENT_17              307511 non-null  int64
 54  FLAG_DOCUMENT_18              307511 non-null  int64
 55  FLAG_DOCUMENT_19              307511 non-null  int64
 56  FLAG_DOCUMENT_20              307511 non-null  int64
 57  FLAG_DOCUMENT_21              307511 non-null  int64
 58  AMT_REQ_CREDIT_BUREAU_HOUR    265992 non-null  float64
 59  AMT_REQ_CREDIT_BUREAU_DAY     265992 non-null  float64
 60  AMT_REQ_CREDIT_BUREAU_WEEK    265992 non-null  float64
 61  AMT_REQ_CREDIT_BUREAU_MON     265992 non-null  float64
 62  AMT_REQ_CREDIT_BUREAU_QRT     265992 non-null  float64
 63  AMT_REQ_CREDIT_BUREAU_YEAR    265992 non-null  float64
dtypes: float64(40), int64(20), object(4)
memory usage: 150.2+ MB

In [21]:
print(len(max(curr_app_df.columns.tolist())))

16

In [44]:
CA_COLUMNS = curr_app_df.columns.tolist()
CA_ID_COLUMNS = ['SK_ID_CURR']
CA_NCAT_COLUMNS = ['FLAG_OWN_CAR', 'FLAG_OWN_REALTY','FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL',
                    'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
                    'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
                    'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 
                    'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13','FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 
                    'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21']
print(len(max(CA_COLUMNS)))
getNumCategoricalValues(curr_app_df, CA_NCAT_COLUMNS)

16
Columns with categorical values 36
FLAG_CONT_MOBILE           : [   2] --> [0, 1]
FLAG_DOCUMENT_10           : [   2] --> [0, 1]
FLAG_DOCUMENT_11           : [   2] --> [0, 1]
FLAG_DOCUMENT_12           : [   2] --> [0, 1]
FLAG_DOCUMENT_13           : [   2] --> [0, 1]
FLAG_DOCUMENT_14           : [   2] --> [0, 1]
FLAG_DOCUMENT_15           : [   2] --> [0, 1]
FLAG_DOCUMENT_16           : [   2] --> [0, 1]
FLAG_DOCUMENT_17           : [   2] --> [0, 1]
FLAG_DOCUMENT_18           : [   2] --> [0, 1]
FLAG_DOCUMENT_19           : [   2] --> [0, 1]
FLAG_DOCUMENT_2            : [   2] --> [0, 1]
FLAG_DOCUMENT_20           : [   2] --> [0, 1]
FLAG_DOCUMENT_21           : [   2] --> [0, 1]
FLAG_DOCUMENT_3            : [   2] --> [0, 1]
FLAG_DOCUMENT_4            : [   2] --> [0, 1]
FLAG_DOCUMENT_5            : [   2] --> [0, 1]
FLAG_DOCUMENT_6            : [   2] --> [0, 1]
FLAG_DOCUMENT_7            : [   2] --> [0, 1]
FLAG_DOCUMENT_8            : [   2] --> [0, 1]
FLAG_DOCUMENT_9            : [   2] --> [0, 1]
FLAG_EMAIL                 : [   2] --> [0, 1]
FLAG_EMP_PHONE             : [   2] --> [0, 1]
FLAG_MOBIL                 : [   2] --> [0, 1]
FLAG_OWN_CAR               : [   2] --> ['N', 'Y']
FLAG_OWN_REALTY            : [   2] --> ['N', 'Y']
FLAG_PHONE                 : [   2] --> [0, 1]
FLAG_WORK_PHONE            : [   2] --> [0, 1]
LIVE_CITY_NOT_WORK_CITY    : [   2] --> [0, 1]
LIVE_REGION_NOT_WORK_REGION : [   2] --> [0, 1]
REGION_RATING_CLIENT       : [   3] --> [1, 2, 3]
REGION_RATING_CLIENT_W_CITY : [   3] --> [1, 2, 3]
REG_CITY_NOT_LIVE_CITY     : [   2] --> [0, 1]
REG_CITY_NOT_WORK_CITY     : [   2] --> [0, 1]
REG_REGION_NOT_LIVE_REGION : [   2] --> [0, 1]
REG_REGION_NOT_WORK_REGION : [   2] --> [0, 1]

In [43]:
# Common columns between the 2 datasets
print(set(PA_COLUMNS) & set(CA_COLUMNS))

{'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'WEEKDAY_APPR_PROCESS_START', 'NAME_TYPE_SUITE', 'SK_ID_CURR', 'HOUR_APPR_PROCESS_START', 'AMT_CREDIT', 'NAME_CONTRACT_TYPE'}

In [22]:
getCategoricalValues(curr_app_df)

Columns with categorical values 16 --> ['CODE_GENDER', 'EMERGENCYSTATE_MODE', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'NAME_CONTRACT_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'NAME_INCOME_TYPE', 'NAME_TYPE_SUITE', 'OCCUPATION_TYPE', 'ORGANIZATION_TYPE', 'WALLSMATERIAL_MODE', 'WEEKDAY_APPR_PROCESS_START']
CODE_GENDER                 : [ 3] --> ['F', 'M', 'XNA']
EMERGENCYSTATE_MODE         : [ 3] --> ['No', nan, 'Yes']
FLAG_OWN_CAR                : [ 2] --> ['N', 'Y']
FLAG_OWN_REALTY             : [ 2] --> ['N', 'Y']
FONDKAPREMONT_MODE          : [ 5] --> ['reg oper account', nan, 'org spec account', 'reg oper spec account', 'not specified']
HOUSETYPE_MODE              : [ 4] --> ['block of flats', nan, 'terraced house', 'specific housing']
NAME_CONTRACT_TYPE          : [ 2] --> ['Cash loans', 'Revolving loans']
NAME_EDUCATION_TYPE         : [ 5] --> ['Academic degree', 'Higher education', 'Incomplete higher', 'Lower secondary', 'Secondary / secondary special']
NAME_FAMILY_STATUS          : [ 6] --> ['Civil marriage', 'Married', 'Separated', 'Single / not married', 'Unknown', 'Widow']
NAME_HOUSING_TYPE           : [ 6] --> ['Co-op apartment', 'House / apartment', 'Municipal apartment', 'Office apartment', 'Rented apartment', 'With parents']
NAME_INCOME_TYPE            : [ 8] --> ['Businessman', 'Commercial associate', 'Maternity leave', 'Pensioner', 'State servant', 'Student', 'Unemployed', 'Working']
NAME_TYPE_SUITE             : [ 8] --> ['Unaccompanied', 'Family', 'Spouse, partner', 'Children', 'Other_A', nan, 'Other_B', 'Group of people']
OCCUPATION_TYPE             : [19] --> ['Laborers', 'Core staff', 'Accountants', 'Managers', nan, 'Drivers', 'Sales staff', 'Cleaning staff', 'Cooking staff', 'Private service staff', 'Medicine staff', 'Security staff', 'High skill tech staff', 'Waiters/barmen staff', 'Low-skill Laborers', 'Realty agents', 'Secretaries', 'IT staff', 'HR staff']
ORGANIZATION_TYPE           : [58] --> ['Advertising', 'Agriculture', 'Bank', 'Business Entity Type 1', 'Business Entity Type 2', 'Business Entity Type 3', 'Cleaning', 'Construction', 'Culture', 'Electricity', 'Emergency', 'Government', 'Hotel', 'Housing', 'Industry: type 1', 'Industry: type 10', 'Industry: type 11', 'Industry: type 12', 'Industry: type 13', 'Industry: type 2', 'Industry: type 3', 'Industry: type 4', 'Industry: type 5', 'Industry: type 6', 'Industry: type 7', 'Industry: type 8', 'Industry: type 9', 'Insurance', 'Kindergarten', 'Legal Services', 'Medicine', 'Military', 'Mobile', 'Other', 'Police', 'Postal', 'Realtor', 'Religion', 'Restaurant', 'School', 'Security', 'Security Ministries', 'Self-employed', 'Services', 'Telecom', 'Trade: type 1', 'Trade: type 2', 'Trade: type 3', 'Trade: type 4', 'Trade: type 5', 'Trade: type 6', 'Trade: type 7', 'Transport: type 1', 'Transport: type 2', 'Transport: type 3', 'Transport: type 4', 'University', 'XNA']
WALLSMATERIAL_MODE          : [ 8] --> ['Stone, brick', 'Block', nan, 'Panel', 'Mixed', 'Wooden', 'Others', 'Monolithic']
WEEKDAY_APPR_PROCESS_START  : [ 7] --> ['FRIDAY', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'WEDNESDAY']

In [ ]:
prev_app_df[curr_app_df.columns.difference(['SK_ID_PREV','SK_ID_CURR','NFLAG_INSURED_ON_APPROVAL', 'NFLAG_LAST_APPL_IN_DAY', 'SELLERPLACE_AREA', 'HOUR_APPR_PROCESS_START'])].describe()